---
import { Image } from 'astro:assets';
// import headerImage from '@/assets/images/jamaica-st-22c.webp';

const { title, year, role, website, featuredImage } = Astro.props;
---

<div
  id='page-header'
  class='ph-full ph-inline ph-bg-image ph-image-shadow ph-image-cover-5 ph-content-parallax'
>
  <div class='page-header-inner tt-wrap'>
    <!-- Begin page header image 
							============================= -->
    <div class='ph-image'>
      <div class='ph-image-inner'>
        <!-- <img
          src='assets/img/page-header/project-ph/project-ph-2.jpg'
          alt='Image'
        /> -->
        <Image
          src={featuredImage}
          format='avif'
          alt='test alt'
          loading='eager'
        />
      </div>
    </div>
    <!-- End page header image -->
    <div class='ph-caption'>
      <div class='ph-categories ph-appear'>
        <div class='ph-category' style=''>Creative</div>
        <!-- <div class="ph-category">Varia</div> -->
      </div>
      <!-- /.ph-categories -->

      <h2 class='ph-caption-title ph-appear'>{title}</h2>
      <!-- You can use <br class="hide-from-lg"> to break a text line if needed -->
    </div>
    <!-- End page header caption -->

    <!-- Begin project info list
							============================= 
							* You can use the project info list as a standalone element outside of the page header if you want.
							* Class "ph-appear" is for page header only!
							-->
    <div class='project-info-list'>
      <ul>
        <li>
          <div class='pi-list-heading'>Client</div>
          <div class='pi-list-cont'>{title}</div>
        </li>
        <li>
          <div class='pi-list-heading'>Year</div>
          <div class='pi-list-cont'>{year}</div>
        </li>
        <li>
          <div class='pi-list-heading'>Role</div>
          <div class='pi-list-cont'>{role}</div>
          <!-- Describe in a few words -->
        </li>
        <li>
          <div class='pi-list-heading'>Website</div>
          <div class='pi-list-cont'>
            <a href={website} target='_blank' rel='noopener'>
              Visit site
              <span class='pi-list-icon'>
                <i class='fas fa-arrow-right'></i>
              </span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <!-- End project info list -->
  </div>
  <!-- /.page-header-inner -->

  <!-- Begin scroll down circle (you can change "data-offset" to set scroll top offset) 
						============================== -->
  <a href='#page-content' class='scroll-down-circle' data-offset='30'>
    <div class='sdc-inner ph-appear'>
      <div class='sdc-icon'><i class='fas fa-chevron-down'></i></div>
      <svg viewBox='0 0 500 500'>
        <defs>
          <path
            d='M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250'
            id='textcircle'></path>
        </defs>
        <text dy='30'>
          <textPath xlink:href='#textcircle'
            >Scroll down - Scroll down -</textPath
          >
        </text>
      </svg>
    </div>
    <!-- /.sdc-inner -->
  </a>
  <!-- End scroll down circle -->

  <!-- Begin made with love 
						========================== -->
  <div class='made-with-love ph-appear'>
    <div class='mwl-inner'>
      <div class='mwl-text'>Made with</div>
      <div class='mwl-icon'><i class='far fa-heart'></i></div>
    </div>
  </div>
  <!-- End made with love -->

  <!-- Begin page header share (share buttons are for design purposes only!) 
						============================= -->
  <div class='ph-share'>
    <div class='ph-share-trigger ph-appear'>
      <div class='ph-share-text'>Share</div>
      <div class='ph-share-icon magnetic-item'
        ><i class='fas fa-share-alt'></i></div
      >
    </div>
    <!-- /.ph-share-trigger -->

    <div class='ph-share-content'>
      <div class='ph-share-close cursor-close'><div class='bg-noise'></div></div
      >
      <div class='ph-share-inner'>
        <h1 class='ph-share-title ph-share-appear'>Spread the Word!</h1>
        <div class='ph-share-subtitle ph-share-appear'
          >Share this project with your friends</div
        >

        <div class='social-buttons ph-share-appear'>
          <ul>
            <li
              ><a href='#0' class='magnetic-item' title='Share on Facebook'
                ><i class='fab fa-facebook-f'></i></a
              ></li
            >
            <li
              ><a href='#0' class='magnetic-item' title='Share on Twitter'
                ><i class='fab fa-twitter'></i></a
              ></li
            >
            <li
              ><a href='#0' class='magnetic-item' title='Share on Pinterest'
                ><i class='fab fa-pinterest'></i></a
              ></li
            >
          </ul>
        </div>
        <!-- /.social-buttons -->
      </div>
      <!-- /.ph-share-inner -->

      <div class='ph-share-ghost ph-share-appear'>Share</div>
    </div>
    <!-- /.ph-share-content -->
  </div>
  <!-- End page header share -->
</div>
<!-- End page header -->

<style>
  .project-info-list li {
    color: #fff;
  }

  .ph-image-cover-5 .ph-image-inner::before {
    opacity: 0.6;
  }
</style>
