---
const { previousPost, nextPost, baseUrl = '/news' } = Astro.props;
---

<div class='tt-blog-post-nav'>
  {
    previousPost && (
      <div class='tt-bp-nav-col tt-bp-nav-left'>
        <div class='tt-bp-nav-text'>
          <span>
            <i class='fas fa-angle-left' />
          </span>{' '}
          Previous Post
        </div>
        <h4 class='tt-bp-nav-title'>
          <a href={`${baseUrl}/${previousPost.id}`}>
            {previousPost.data.title}
          </a>
        </h4>
      </div>
    )
  }

  {
    nextPost && (
      <div class='tt-bp-nav-col tt-bp-nav-right'>
        <div class='tt-bp-nav-text'>
          Next Post
          <span>
            <i class='fas fa-angle-right' />
          </span>
        </div>
        <h4 class='tt-bp-nav-title'>
          <a href={`${baseUrl}/${nextPost.id}`}>{nextPost.data.title}</a>
        </h4>
      </div>
    )
  }
</div>

<style>
  .tt-blog-post-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--border-color);
  }
</style>
