---
import Image from 'astro/components/Image.astro';

const { link, title, subTitle, image } = Astro.props;
console.log(image);
---

<div class='tt-section padding-top-xlg-150 padding-bottom-xlg-150'>
  <div class='tt-section-inner tt-wrap'>
    <div class='tt-page-nav tt-pn-scroll'>
      <a href={link} class='tt-pn-link anim-fadeinup'>
        <div class='tt-pn-title'>{title}</div>
        <div class='tt-pn-hover-title'>{title}</div>
      </a>
      <!-- /.tt-pn-link -->

      <div class='tt-pn-subtitle anim-fadeinup'>{subTitle}</div>

      <!-- Use if destination page contains page header image -->
      <div class='tt-pn-image'>
        <Image src={image} alt='image' />
        <!-- <img src={image} alt='image' /> -->
      </div>
    </div>
    <!-- End page nav -->
  </div>
  <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
