---
import Image from 'astro/components/Image.astro';
import { getCollection } from 'astro:content';

const allPortfolio = await getCollection(
  'portfolio',
  ({ data }) => !data.isDraft
);

console.log(allPortfolio);

const { subTitle, title, link, linkText } = Astro.props;
---

<div class='tt-section no-padding-bottom'>
  <div class='tt-section-inner'>
    <div
      class='tt-heading tt-heading-lg tt-heading-center margin-bottom-10-p anim-fadeinup'
    >
      <h3 class='tt-heading-subtitle text-gray'>{subTitle}</h3>
      <h2 class='tt-heading-title'>{title}</h2>
      <div class='tt-btn tt-btn-link margin-top-20'>
        <a href={link} data-hover={linkText}>{linkText}</a>
      </div>
    </div>

    <div id='portfolio-grid' class='pgi-cap-inside pgi-hover'>
      <div class='tt-grid ttgr-layout-creative-2 ttgr-not-cropped ttgr-gap-4'>
        <div class='tt-grid-items-wrap isotope-items-wrap'>
          {
            allPortfolio.map((item) => (
              <div class='tt-grid-item isotope-item people'>
                <div class='ttgr-item-inner'>
                  <div class='portfolio-grid-item'>
                    <a
                      href={`/portfolio/${item.id}`}
                      class='pgi-image-wrap'
                      data-cursor='View<br>Project'
                    >
                      <div class='pgi-image-holder cover-opacity-2'>
                        <div class='pgi-image-inner anim-zoomin'>
                          <figure class='pgi-image ttgr-height'>
                            <Image src={item.data.featuredImage} alt='image' />
                          </figure>
                        </div>
                      </div>
                    </a>

                    <div class='pgi-caption'>
                      <div class='pgi-caption-inner'>
                        <h2 class='pgi-title'>{item.data.title}</h2>
                        <div class='pgi-categories-wrap' />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
